﻿@media (prefers-color-scheme: light) {
    :root {
      --bg-color: #f3f6f9;
      --font-color: #323232;
      --grey-bg: #a2b1ba;
      --grey-text: #a2b1ba;
      --second-font-color: #323232;
      --nav-hover: #eef2f5;
      --nav-item-hover: #323232;
      --overlay: rgba(88, 88, 88, 0.8);
      --filter: invert(17%) sepia(12%) saturate(17%) hue-rotate(16deg)
        brightness(0%) contrast(92%);
      --nav-color: #dce5ea;
      --box-bg: #f9fbfd;
      --box-border: #dce5ea;
      --inner-box-border: #dce5ea;
      --check-box: #dce5ea;
      --blue_btn_bg: #00a3ff;
      --blue_btn_bg-hover: #0c92dd;
      --blue-btn_twxt_color: #fff;
      --blue_btn_filter: none;
      --pagination-borde: rgba(0, 0, 0, 0.12);
      --pagination-color: #262628;
      --pagination-hover: #a2b1ba;
      --pagination-hover-bg: #f7fbff;
      --checkbox-bg: #f9fbfd;
      --checkbox-border: #dce5ea;
      --row-bg: #f9fbfd;
      --row-border: #cdd9e0;
      --name: #323232;
      --access: #edf3f7;
      --grey: #dce5ea;
      --nav-button: #f3f6f9;
      --nav-button-hover: #dce5ea;
      --more-hover: #f3f6f9;
      --arrow-filter: none;
      --input-border: #cdd9e0;
      --input-bg: #f9fbfd;
      --input-value-bg: #eef2f5;
      --tooltipe-bg: #a2b1ba;
      --filter-bg: #dce5ea;
      --nav-svg-fill: #323232;
      --svg-stroke: #a2b1ba;
      --back-hover: #fff;
      --line-bg: #cdd9e0;
      --form-group: #fff;
      --pattern: #dce5ea;
      --error-text: #f0f5f9;
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #111111;
      --check-box: #111111;
      --font-color: #7b7a7b;
      --grey-bg: #222222;
      --grey-text: #7b7a7b;
      --second-font-color: #e8e8e8;
      --nav-hover: #e1ff50;
      --nav-item-hover: #e8e8e8;
      --overlay: rgba(232, 232, 232, 0.3);
      --filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(212deg)
        brightness(1001%) contrast(103%);
      --nav-color: #222221;
      --box-bg: #222221;
      --box-border: #222221;
      --inner-box-border: #40403f;
      --blue_btn_bg: #e1ff50;
      --blue_btn_bg-hover: #d4fa20;
      --blue-btn_twxt_color: #111111;
      --blue_btn_filter: invert(0%) sepia(0%) saturate(7404%) hue-rotate(172deg)
        brightness(0%) contrast(87%);
      --pagination-borde: #343432;
      --pagination-color: #797a7a;
      --pagination-hover: #797a7a;
      --pagination-hover-bg: transparent;
      --checkbox-bg: #222222;
      --checkbox-border: #868787;
      --row-bg: #222221;
      --row-border: #111111;
      --name: #dedede;
      --access: #323232;
      --grey: #222221;
      --nav-button: #222221;
      --nav-button-hover: #7b7a7b;
      --more-hover: #7b7a7b;
      --arrow-filter: invert(52%) sepia(9%) saturate(30%) hue-rotate(254deg)
        brightness(90%) contrast(87%);
      --input-border: #111111;
      --input-bg: #111111;
      --input-value-bg: #111111;
      --tooltipe-bg: #111111;
      --filter-bg: #222222;
      --nav-svg-fill: #fff;
      --svg-stroke: #7b7a7b;
      --back-hover: #323232;
      --line-bg: #323232;
      --form-group: #111111;
      --pattern: #7b7a7b;
      --error-text: #323232;
    }
  }
@font-face {
    font-family: SF-Pro-Rounded;
    font-style: normal;
    font-weight: 900;
    src: url('../../assets/font/SF-Pro-Rounded-Heavy.ttf');

}
@font-face {
    font-family: SF-Pro-Rounded;
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/font/SF-Pro-Rounded-Bold.ttf');
}
@font-face {
    font-family: SF-Pro-Rounded;
    font-style: normal;
    font-weight: 500;
    src: url('../../assets/font/SF-Pro-Rounded-Regular.ttf');
}


@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 900;
    src: url('../../assets/font/YekanHeavy.ttf');

}
@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 700;
    src: url('../../assets/font/YekanBakh-Bold.ttf');
}
@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 500;
    src: url('../../assets/font/Yekan Bakh Regular.ttf');
}
@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 300;
    src: url('../../assets/font/YekanLight.ttf');
}

.richtexteditor, .rte-absolute, .rte-fixed, rte-dropdown-panel {

    font-size: 14px;
    border: none;
}

.rte-toggleborder{
    font-family: YekanBakh!important;
    color: var(--second-font-color);
    text-align: right!important;
    direction: rtl!important;
}
::-moz-selection { background: #EDEEFD; }
::selection { background: #EDEEFD; }